<html>
	<body style="font-family:\"Gill Sans\", Helvetica, \"Lucida Grande\"">
		<table style="background-color: #f7f7f5; padding-top: 30px; padding-right: 30px; padding-left: 30px;">
		<table style="font-family: 'Myriad Pro', 'Gill Sans', Helvetica, 'Lucida Grande';">
		<tr><td>
			<h2>
				Hi <%= "#{@inquiry.name}" %>,
			</h2>
		<td></tr>
		<tr><td>
			<p style="line-height: 22px;">
				Your inquiry is well recieved. We will contact you in following 24 hours. Thank you.
			</p>
		</td></tr>
		<tr><td>
			<p style="line-height: 22px;">
				Sincerely, <br/>
				Elfdev team
			</p>
		</td></tr>
		</table>
		</table>
	</body>
</html>