html
	height: 100%

body
	margin: 0
	padding: 0
	height: 100%

.full-height
	height: 100%

.relative
	position: relative

.fixed
	position: fixed

.notice
	z-index: 1000
	width: 70%
	margin-left: 15%
	display: block
	background-color: #67aa67
	border-radius: 0 0 5px 5px
	line-height: 40px