.container-fluid.banner.text-center.full-height
	.logo
		.fa.fa-plus.fa-5x
	%h1.sans.website-title <span class="ft-green">Elf</span>dev
	.row
		.intro.col-md-6.col-md-offset-3.sans
			ELFDEV INC. is founded in 2014. 
			%br
			Our goal is building efficient tools for enterprises. 
			%br
			Our solutions include Custom Applications, Web Services, Customer Relationship Management and Data Analytics System.
	.row
		.more.center-block
			=link_to '<div id="btn-to-productions" class="fa fa-chevron-down fa-3x"></div>'.html_safe
#products.container-fluid.banner.text-center.bg-green
	.row
		%h1.serif.col-md-12 Our Products
	.products
		.row.product
			%h2.col-md-6.text-left.col-md-offset-3
				%span.fa.fa-twitter-square
				Tweets Analysis System (TAS)
		.row
			.col-md-6.text-left.col-md-offset-3
				TAS prospects your subtle customers from Twitter. By sophiscated and customized data mining technology, TAS detects every single business opportunity for you.
		.row.product
			%h2.col-md-6.text-left.col-md-offset-3
				%span.fa.fa-bar-chart-o
				Product Diagnosis System (PDS)
		.row
			.col-md-6.text-left.col-md-offset-3
				PDS helps controlling your storage wisely! PDS adopts Artificial Neural Network thechnology to predict the future sale amount of your produtcs. According to your data quality it could be up to 80% accuracy.
		.row.product
			%h2.col-md-6.text-left.col-md-offset-3
				%span.fa.fa-cog
				Customize your services
		.row
			.col-md-6.text-left.col-md-offset-3
				Tell us your ideas, we are happy to carry it out!
		.row.product
			%h2.col-md-6.text-left.col-md-offset-3
				%span.fa.fa-cog
				Websites
		.row
			.col-md-6.text-left.col-md-offset-3
				We craft the best website for you.
		.portfolio.row
			.col-md-6.text-left.col-md-offset-3
				.row
					= link_to image_tag('twxien.png', height:'200px', class:'col-md-6'), 'http://taiwanxien.org'
					= link_to image_tag('mwm.png', height:'200px', class:'col-md-6'), 'http://mortgagewithomses.com'

.mask
#index-contact.container-fluid.banner.text-center
	.row
		.contact-column.col-md-5.col-md-offset-2.bg-transparent
			.fa.fa-lemon-o.fa-5x.fg.fa-spin
			.row
				%h3.col-md-12.text-center
					Have any questions?
			.row
				.col-md-12
					%a{href:contact_path}
						.btn.btn-success.col-md-offset-4.col-md-4
							Contact us
		.col-md-4
			%iframe{id:'googlemaps',src:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2370.9374454303897!2d-113.4974358!3d53.5410299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a022462be2de7f%3A0x83117fc79e783892!2s10133+103+St+NW!5e0!3m2!1sen!2s!4v1394816565370&iwloc=near",width:"auto",height:"450",frameborder:"0",style:"border:0",class:'disable-mouse'}
			.row
				.col-md-6.col-md-offset-2.text-left
					%br
					10133 103 St NW
					%br
					Edmonton, AB, Canada
					%br
					T5R 1Y4
			.row
				.col-md-6.col-md-offset-2.text-left
					email: <a href="mailto:hi@elfdev.com">hi@elfdev.com</a>