.banner.text-center
	.logo
	%h1.sans.website-title Elfdev
	.row
		.intro.col-md-6.col-md-offset-3.sans
			ELFDEV INC. is founded in 2014. 
			%br
			Our goal is building efficient tools for enterprises. 
			%br
			Our solutions including Custom Applications, Web Services, Customer Relationship Management and Data Analyze System.
.banner.text-center
	.logo
	%h1.serif Elfdev
.banner.text-center
	.logo
	%h1.serif Elfdev